.site-navbar .site-navigation .site-menu .active>span {
    color: #000;
    border-bottom: 1px solid #000;
}

.site-navbar .site-navigation .site-menu > li > a {
    color: #cecece;
}
.site-navbar .site-navigation .site-menu > li > a:hover {
    color: #747474;
}


.site-section {
    padding: 160px 0;
    font-family: 'Poppins', 'Noto Sans KR', sans-serif;
    font-weight: 400;
}


.family h3 {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.03rem;
    font-family: 'Poppins', 'NanumSquare', sans-serif;
}
.family h2 {
    font-size: 52px;
    font-weight: 800;
    letter-spacing: -0.1rem;
    font-family: 'Poppins', 'NanumSquare', sans-serif;
}
.family>.container>.row {
    margin-bottom: 120px;
}
.family>.container>.row:last-child {
    margin-bottom: 0;
}
.family>.container>.row>div {
    padding: 15px;
}
.family .section-header {
    margin-bottom: 60px;
}
.family .section-footer ul,
.family .section-footer ul>li {
    display: block;
    padding-right: 10%;
}
.family .section-footer a {
    font-size: 28px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.family .section-footer a::after {
    content: "";
    background-image: url(../images/family/icon_arrow.png);
    background-size: 35px 15px;
    background-repeat: no-repeat;
    background-position: top center;
    width: 47px;
    height: 18px;
    display: inline-block;
}
.family a.btn-site {
    font-family: 'Noto Sans KR', "AppleSDGothicNeo" , sans-serif;
    font-size: 24px;
    border: 1px solid #000;
    border-radius: 30px;
    padding: 10px 30px;
    display: inline-flex;
    align-items: center;
    flex-grow: 0;
    margin-bottom: 80px;
}
.family a.btn-site::after {
    content: "";
    background-image: url(../images/family/icon_arrow_button.png);
    background-size: 10px 20px;
    background-repeat: no-repeat;
    background-position: top center;
    width: 20px;
    height: 33px;
    display: inline-block;
    margin-left: 2rem;
    margin-top: 15px;
}


@media (min-width: 991.98px) {
    .family h3 {
        font-size: 28px;
    }
    .family h2 {
        font-size: 56px;
    }
    .family>.container>.row {
        margin-bottom: 240px;
    }
    .family>.container>.row>div {
        padding: 0;
    }
    .family .section-header {
        margin-bottom: 80px;
    }
    .family .section-footer ul,
    .family .section-footer ul>li {
        padding-right: 10%;
    }
    .family .section-footer a {
        font-size: 35px;
    }
    .family a.btn-site {
        font-size: 25px;
        border-radius: 50px;
        padding-left: 40px;
        margin-bottom: 0;
    }
    .family a.btn-site::after {
        margin-left: 1rem;
    }
}